{% extends "base.html" %}
{% load static %}
{% load shop_tags %}

{% block content %}
    <main role="main">
        <div class="container">
        <!-- Example row of columns -->
            <h1>{{ catalogs.catalog_name }}</h1>
            <div class="row">
                {% for good in catalogs.goods %}
                    <div class="col-md-4">
                        <h2>{{ good.good_name }}</h2>
                        <a href="{% url 'good' good.good_id %}"><img src="{% static good.good_image|name_of_file %}" width="180"></a>
                        <p>{{ good.good_desctiption }}</p>
                            <form action="{% url 'goods' catalogs.catalog_id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-secondary" name="cart" value="{{ good.good_id }}">Добавить в корзину »</button>
                            </form>
                    </div>
                {% endfor %}
            </div>
        </div> <!-- /container -->
    </main>
{% include 'footer.html' %}
{% endblock %}

